<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <DesktopBuildPackageLocation>F:\proyectos\TTT2RanksManager\deployweb\TTT2RanksManager.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>http://localhost:85/ttt2ranks</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TekkenCnn" Order="1" Enabled="False">
          <Destination Path="Data Source=agmwin7;Initial Catalog=TTTRanks;User ID=sa;Password=d@ng3r5950" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=agmwin7\AGMSQLSRV;Initial Catalog=TTTRanks;User ID=sa;Password=d@ng3r5950" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TekkenCnn_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=agmwin7\AGMSQLSRV; Initial Catalog=TTTRanks;User ID=sa;Password=d@ng3r5950" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TekkenCnn-Web.config Connection String">
      <ParameterValue>Data Source=agmwin7;Initial Catalog=TTTRanks;User ID=sa;Password=d@ng3r5950</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>